{% extends 'layouts/base.html.twig' %}


{% block title %}My addresses - The shop
{% endblock %}

{% block body %}
	<div class="container">
		<div class="row justify-content-between">
			<div class="col-md-9 text-sm-center text-md-left">

				<h1 class="h2">My addresses</h1>
				<p>Manage your addresses as you want.</p>
				<a href="{{path('app_account')}}">Go back</a>
			</div>

			<div class="col my-3">
				<a href="{{path('app_account_address_add')}}" class="d-block btn btn-info btn-md my-auto">Add address</a>
			</div>
		</div>

		<hr>
		{% if app.user.addresses |length == 0 %}
			<p>You didn't add no address. Add one by clicking
				<a href="{{path('app_account_address_add')}}">here</a>.</p>
		{% else %}

			<div class="row">
				{% for address in app.user.addresses %}
					<div class="col-md-6 my-3 ">
						<div class="card">
							<div class="card-body text-center">
								<h5 class="card-title">{{ address.name }}</h5>
								<p class="card-text">{{ address.address }}</p>
								<p class="card-text">{{ address.postalcode}}
									-
									{{ address.city}}
									-
									{{ address.country}}</p>
								<a href="{{ path('app_account_address_edit', {'id' : address.id})}}">Modify</a>
								|
								<a href="{{ path('app_account_address_delete', {'id' : address.id})}}">Delete</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		{% endif %}
	</div>


</hr>{% endblock %}
