<header>
	<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
		<a class="navbar-brand" href="{{path('app_home')}}">The shop</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarCollapse">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="{{path('app_products')}}">Our products</a>
				</li>

				<li class="nav-item active">
					<a class="nav-link" href="{{ path('app_about_us') }}">Who we are?</a>

				</li>
				<li class="nav-item active">
					<a class="nav-link" href="{{path('app_contact')}}">Contact us</a>
				</li>
			</ul>
			<div class="navbar-links">
				{% if app.user%}
					<a href="{{path('app_account')}}">My account<small>({{app.user.firstName}})</small>
					</a>
					|
					<a href="{{path('app_logout')}}">Logout<a/>
					{% else %}
						<a href="{{path('app_login')}}">Login</a>
						|
						<a href="{{path('app_register')}}">Register<a/>
						{% endif %}
					</div>
					{% if app.user%}
						<a href="{{path('app_cart')}}">
							<img src="{{ asset('assets/images/shopping-cart.png') }}" alt="my-cart" class="cart-icon">
						</a>
					{% endif %}

				</div>
			</nav>
		</header>
